<div class="content">
  <div class="text-center">
    <h1 class="title">Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group" id="side-panel" role="tablist">
        <a class="list-group-item list-group-item-action active" id="profile" data-toggle="list" href="#profile-content" role="tab" aria-controls="profile">Mi perfil</a>
        <% if @user.role.include? 'admin' %>
            <a class="list-group-item list-group-item-action action" id="admin" data-toggle="list" href="#admin-content" role="tab" aria-controls="admin">Administrador</a>
        <% end %>
        <% if @user.role.include? 'creator' %>
            <a class="list-group-item list-group-item-action action" id="posts" data-toggle="list" href="#posts-content" role="tab" aria-controls="posts">Publicaciones</a>
        <% end %>
        <a class="list-group-item list-group-item-action action" id="config" data-toggle="list" href="#config-content" role="tab" aria-controls="config">Configuración</a>
      </div>
      <br>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="dash-content">
        <div class="tab-pane fade show active" id="profile-content" role="tabpanel" aria-labelledby="profile">
          <form>
            <div class="form-group">
              <label>Nombre</label>
              <input name="name" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="text" class="form-control" value="<%= @user.email %>" required>
            </div>
            <button class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
        <% if @user.role.include? 'creator' %>
            <div class="tab-pane fade show" id="posts-content" role="tabpanel" aria-labelledby="posts">
              <div class="row">
                <div class="col-md-6">
                  <div class="list-group" id="post-list" role="tablist">
                    <% @posts.each do |p, i| %>
                        <a class="list-group-item list-group-item-action action" id="<%= i %>" data-toggle="list" href="#<%= i %>-content" role="tab" aria-controls="<%= i %>"><%= p.title %></a>
                    <% end %>
                  </div>
                  <br>
                </div>
                <div class="col-md-6">
                  <div class="tab-content" id="post-list-content">
                    <% @posts.each do |p, i| %>
                        <div class="tab-pane fade show" id="<%= i %>-content" role="tabpanel" aria-labelledby="<%= i %>">
                          <form id="<%= p.id.to_s %>" method="post" action="javascript:void(0)" onsubmit="save('<%= p.id.to_s %>'); return false;">
                            <div class="form-group">
                              <label>Título</label>
                              <input name="title" class="form-control" type="text" value="<%= p.title %>" required>
                            </div>
                            <div class="form-group">
                              <label>Visibilidad</label>
                              <select name="visibility" class="form-control">
                                <option value="0">Visible</option>
                                <option value="1">Oculto</option>
                                <option value="2">Privado</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Descripción</label>
                              <textarea name="brief" class="form-control" style="height: 8em;" required><%= p.brief %></textarea>
                            </div>
                            <div class="form-group">
                              <label>Tags</label>
                              <input name="tags" class="form-control" value="<%= p.tags.join ', ' %>" type="text" required>
                              <small>Separados por comas</small>
                            </div>
                            <button class="btn btn-primary">Guardar</button>
                            <a target="_blank" href="/post/edit?id=<%= p.id.to_s %>" class="btn btn-neutral">Editar contenido</a>
                          </form>
                        </div>
                    <% end %>
                    <script>
                      function save(id) {
                        var form = document.getElementById(id)
                        $.post('/post/edit', {
                          id: id,
                          title: form.title.value,
                          visibility: form.visibility.value,
                          brief: form.brief.value,
                          tags: form.tags.value.split(', ').map(e => $.trim(e))
                        }, function(data) {
                          location.reload(true)
                        })
                      }
                    </script>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <% if @user.role.include? 'admin' %>
            <div class="tab-pane fade show" id="admin-content" role="tabpanel" aria-labelledby="admin">

            </div>
        <% end %>
        <div class="tab-pane fade show" id="config-content" role="tabpanel" aria-labelledby="config">
          <form>
            <h5>Cambio de contraseña</h5>
            <div class="form-group">
              <label>Contraseña actual</label>
              <input name="oldpasswd" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Contraseña nueva</label>
              <input name="newpasswd" class="form-control" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Cambiar contraseña</button>
            </div>
          </form>
          <form>
            <h5>Eliminar mi cuenta</h5>
            <div class="form-group">
              <label><input class="checkbox" type="checkbox" required> </label>
            </div>
            <button class="btn btn-primary">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>